<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="./vue.js"></script>
    <title>Montando o Lanche</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Monte o seu lanche</span>
        </div>
    </nav>
    <div class="container">
        <div id="app">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mt-2">
                        <div class="col">
                            <img v-bind:src="bread[0]" alt="Pão superior">
                            <img v-bind:src="lettuce" alt="Alface">
                            <img v-bind:src="ketchup" alt="Molho">
                            <img v-bind:src="mayonnaise" alt="Molho">
                            <img v-bind:src="mustard" alt="Molho">
                            <img v-bind:src="hamburguer" alt="Hambúrguer">
                            <img v-bind:src="bread[1]" alt="Pão inferior">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Tipo do pão -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Tipo do pão
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim" v-model="inputTypeBread" />
                                        <label class="form-check-label">Gergelim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano" v-model="inputTypeBread" />
                                        <label class="form-check-label">Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Saladas -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Saladas
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" />
                                        <label class="form-check-label">Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Molhos -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Molhos
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" />
                                        <label class="form-check-label">Ketchup</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" />
                                        <label class="form-check-label">Maionese</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" />
                                        <label class="form-check-label">Mostarda</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Molhos -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Tipo de hambúrguer
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" />
                                        <label class="form-check-label">Bovino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" />
                                        <label class="form-check-label">Frango</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" />
                                        <label class="form-check-label">Soja</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>
</html>